BasedOnStyle: Google
Language: Cpp
ColumnLimit: 140
IndentWidth: 2
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
Cpp11BracedListStyle: true
IndentCaseLabels: true
BreakBeforeBraces: Attach
